html {
  font-size: 10px;
  background-image: url(./images/background.jpg);
  background-size: cover;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

kbd {
  display: block;
  font-size: 2.5rem;
}

.keys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 100vh;
}

.key {
  border: 0.5rem solid black;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.6);
  margin: 1rem;
  width: 60px;
  padding: 1rem 0.5rem;
  transition: all 0.07s;
  text-align: center;
  color: white;
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}

.sound {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
